.App {
  max-width: 1024px;
  margin: 0 auto;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: black;
  text-align: center;
}

.App-graph-container {
  display: flex;
  justify-content: center;
  margin: 2em 0 0 0;
}