label {
  color: black;
}

.Prefecture-container {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.Prefecture-checkbox-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1.3em;
}

.Prefecture-checkbox {
    flex-basis: 140px;
    margin-bottom: 0.5em;
}